@import 'helpers';

.wrapper {
  @include size(100%);

  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.form {
  max-width: 500px;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  color: var(--color-grayscale900);

  svg {
    color: var(--color-grayscale900);
  }
}
