@import './helpers/colors';

:root {
  --color-contrast-white: #{$contrastWhite};
  --color-contrast-black: #{$contrastBlack};
  --color-primary100: #{$primary100};
  --color-primary200: #{$primary200};
  --color-primary300: #{$primary300};
  --color-primary400: #{$primary400};
  --color-primary500: #{$primary500};
  --color-primary600: #{$primary600};
  --color-primary700: #{$primary700};
  --color-primary800: #{$primary800};
  --color-primary900: #{$primary900};
  --color-primary950: #{$primary950};
  --color-secondary100: #{$secondary100};
  --color-secondary200: #{$secondary200};
  --color-secondary300: #{$secondary300};
  --color-secondary400: #{$secondary400};
  --color-secondary500: #{$secondary500};
  --color-secondary600: #{$secondary600};
  --color-secondary700: #{$secondary700};
  --color-secondary800: #{$secondary800};
  --color-secondary900: #{$secondary900};
  --color-secondary950: #{$secondary950};
  --color-grayscale100: #{$grayscale100};
  --color-grayscale200: #{$grayscale200};
  --color-grayscale300: #{$grayscale300};
  --color-grayscale400: #{$grayscale400};
  --color-grayscale500: #{$grayscale500};
  --color-grayscale600: #{$grayscale600};
  --color-grayscale700: #{$grayscale700};
  --color-grayscale800: #{$grayscale800};
  --color-grayscale900: #{$grayscale900};
  --color-grayscale950: #{$grayscale950};
  --color-success100: #{$success100};
  --color-success200: #{$success200};
  --color-success300: #{$success300};
  --color-success400: #{$success400};
  --color-success500: #{$success500};
  --color-success600: #{$success600};
  --color-success700: #{$success700};
  --color-success800: #{$success800};
  --color-success900: #{$success900};
  --color-success950: #{$success950};
  --color-error100: #{$error100};
  --color-error200: #{$error200};
  --color-error300: #{$error300};
  --color-error400: #{$error400};
  --color-error500: #{$error500};
  --color-error600: #{$error600};
  --color-error700: #{$error700};
  --color-error800: #{$error800};
  --color-error900: #{$error900};
  --color-error950: #{$error950};
  --color-warning100: #{$warning100};
  --color-warning200: #{$warning200};
  --color-warning300: #{$warning300};
  --color-warning400: #{$warning400};
  --color-warning500: #{$warning500};
  --color-warning600: #{$warning600};
  --color-warning700: #{$warning700};
  --color-warning800: #{$warning800};
  --color-warning900: #{$warning900};
  --color-warning950: #{$warning950};
  --color-background-base: #{$backgroundBase};
  --color-background-primary: #{$backgroundPrimary};
  --color-background-secondary: #{$backgroundPrimary};
  --color-background-tertiary: #{$backgroundPrimary};
  --color-background-accent: #{$backgroundPrimary};
  --color-alpha-white8: #{$alphaWhite8};
  --color-alpha-white16: #{$alphaWhite16};
  --color-alpha-white40: #{$alphaWhite40};
  --color-alpha-white64: #{$alphaWhite64};
  --color-alpha-white88: #{$alphaWhite88};
  --color-alpha-black8: #{$alphaBlack8};
  --color-alpha-black16: #{$alphaBlack16};
  --color-alpha-black40: #{$alphaBlack40};
  --color-alpha-black64: #{$alphaBlack64};
  --color-alpha-black88: #{$alphaBlack88};
  --font-inter:  'Inter', sans-serif;
}
