$contrastWhite: #FFF;
$contrastBlack: #000;
$primary100: #E6F0FF;
$primary200: #B0CFFF;
$primary300: #8AB8FF;
$primary400: #5497FF;
$primary500: #3383FF;
$primary600: #0064FF;
$primary700: #005AE5;
$primary800: #0047B5;
$primary900: #00378C;
$primary950: #002A6B;
$secondary100: #E6F8FF;
$secondary200: #C2EEFF;
$secondary300: #91E0FF;
$secondary400: #5ED2FF;
$secondary500: #2EC5FF;
$secondary600: #00B8FF;
$secondary700: #009CD9;
$secondary800: #0083B5;
$secondary900: #006991;
$secondary950: #005373;
$grayscale100: #FAFAFB;
$grayscale200: #F1F1F5;
$grayscale300: #E6E8EC;
$grayscale400: #E2E2EA;
$grayscale500: #D5D5DC;
$grayscale600: #B5B5BE;
$grayscale700: #92929D;
$grayscale800: #696974;
$grayscale900: #28283B;
$grayscale950: #171725;
$success100: #F3FDF8;
$success200: #E8FCF3;
$success300: #BEF7DC;
$success400: #4EDC9A;
$success500: #0EAE64;
$success600: #0BA15B;
$success700: #118850;
$success800: #0B5B36;
$success900: #062D1B;
$success950: #03170D;
$error100: #FFF0F0;
$error200: #FFDCDC;
$error300: #FFACB3;
$error400: #F74C4C;
$error500: #E21919;
$error600: #C11010;
$error700: #A30909;
$error800: #5C0A0A;
$error900: #2E0505;
$error950: #170303;
$warning100: #FFF6E8;
$warning200: #FFD699;
$warning300: #FEC267;
$warning400: #FEAD34;
$warning500: #F18F01;
$warning600: #D67F01;
$warning700: #985C01;
$warning800: #663D00;
$warning900: #331F00;
$warning950: #190F00;
$backgroundBase: #FFF;
$backgroundPrimary: #F4F5F5;
$alphaWhite8: rgb(255 255 255 / 8%);
$alphaWhite16: rgb(255 255 255 / 16%);
$alphaWhite40: rgb(255 255 255 / 40%);
$alphaWhite64: rgb(255 255 255 / 64%);
$alphaWhite88: rgb(255 255 255 / 88%);
$alphaBlack8: rgb(6 6 6 / 8%);
$alphaBlack16: rgb(6 6 6 / 16%);
$alphaBlack40: rgb(6 6 6 / 40%);
$alphaBlack64: rgb(6 6 6 / 64%);
$alphaBlack88: rgb(0 0 0 / 88%);
