.visibilityButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: transparent;
  color: var(--color-grayscale700);
  border: none;
  padding: 4px 16px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    color: var(--color-grayscale950);
  }
}
